#################################################################################
# Matlab
#################################################################################
*.as
*.asv
*.m~
########### End Matlab ##########################################################

*.bit
*.swp
*.pyc
*.tmp
*.~vsdx
~*.docx
*.docx#
~*.xlsx
*.AppImage
*.deb
*.so
*.so.*
*.a
*.mat
*.fig
BUILD_VERSION
patches/*.patch
*.pickle

################################################################################
# c++ build dir
################################################################################
_build/

################################################################################
# python build artifacts
################################################################################
**/python/build/
**/dist/


#####################################################################################
#                Slickedit Stuff
#####################################################################################
*.vpj
*.vpw
*.vpwhistu
*.vtg
############### End Slickedit Stuff #################################################
